body {
    height: 100vh;
    background-color: rgb(10, 10, 66);
}
h1 {
    color: lightslategray;
}
/* <div class="alert alert-success w-50 m-auto text-center mt-5">
    <span class="text-secondary">La tua password è: </span>
    <span class="fw-bold ms-2">
        <?php echo ($_SESSION['psw']) ?>
    </span>
</div> */